* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Alphorn";
  font-weight: 500;
  src: url("/fonts/Alphorn-Regular.woff2") format("woff2"),
       url("/fonts/Alphorn-Regular.woff") format("woff");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Alphorn", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hover-slide {
  position: relative;
  height: 560px;
  overflow: hidden;
}
.lh-custom {
  line-height: 0.75em;
}

.hover-content > * {
  opacity: 0;
  // transform: scale(1.035);
  // transition: transform 3s cubic-bezier(0,.9,0,.9), opacity .1s cubic-bezier(0,.7,0,.7);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  display:block;
  background: #eee;
  &.active {
    // transform: scale(1);
    opacity: 1;
  }
}
.hover-segment {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, .1);
  flex: 1 1 auto;
  &:last-child {
    box-shadow: none;
  }
}
.hover-cover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .1) inset;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}
.row {
  // max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  letter-spacing: -0.015em;
  font-size: 13vw;
}
