* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.hover-slide {
  margin-top: 40px;
  position: relative;
  height: 320px;
  overflow: hidden;
}
.hover-slide > * {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.035);
  transition: transform 5s cubic-bezier(0,.4,0,.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  object-fit: cover;
  display:block;
  background: #eee;
  &.active {
    pointer-events: all;
    transform: scale(1);
    opacity: 1;
  }
}
.hover-segment {
  box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, .1);
  flex: 1 1 auto;
  &:last-child {
    box-shadow: none;
  }
}
.hover-cover {
  // pointer-events: none;
  transform: none;
  background: none;
  display: flex;
  z-index: 1;
  opacity: 1;
}
.pa {
  padding:3rem;
}
.row {
  max-width: 1024px;
  width: 88%;
  margin: 0 auto;
}
