---
title: Welcome to Middleman
---

<div class="row">
  <div class="hover-slide">
    <img src="https://source.unsplash.com/random?sig=1&iceland" alt="">
    <div class="pa" style="background:#8052ff;">
      <h1>Slide 1</h1>
      <h2>Subtitle</h2>
      <p>Lorem Ipsum dolores sit amet consecteur. Sit amet</p>
    </div>
    <img src="https://source.unsplash.com/random?sig=2&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=3&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=4&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=10&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=11&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=12&iceland" alt="">
  </div>

  <div class="hover-slide" style="width:66%; left:100px;">
    <img src="https://source.unsplash.com/random?sig=5&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=6&iceland" alt="">
    <div class="pa">
      <h1>Slide 2</h1>
    </div>
    <img src="https://source.unsplash.com/random?sig=7&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=8&iceland" alt="">
    <img src="https://source.unsplash.com/random?sig=9&iceland" alt="">
  </div>

  <div class="hover-slide-commerce" style="width:50%;>
    <img src="images/photo-13.jpeg" alt="">
    <img src="images/photo-12.jpeg" alt="">
    <img src="images/photo-11.jpeg" alt="">
    <img src="images/photo-10.jpeg" alt="">
    <img src="images/photo-9.jpeg" alt="">
    <img src="images/photo-8.jpeg" alt="">
    <img src="images/photo-7.jpeg" alt="">
    <img src="images/photo-6.jpeg" alt="">
    <img src="images/photo-5.jpeg" alt="">
    <img src="images/photo-4.jpeg" alt="">
    <img src="images/photo-3.jpeg" alt="">
    <img src="images/photo-2.jpeg" alt="">
    <img src="images/photo-1.jpeg" alt="">
  </div>
</div>
