---
title: Welcome to Middleman
---

<div class="hover-slide">
  <img src="https://placeimg.com/600/200/any" alt="">
  <div class="">
    <p>Bajs</p>
  </div>
  <img src="https://placeimg.com/600/200/people" alt="">
  <img src="https://placeimg.com/600/200/nature" alt="">
  <img src="https://placeimg.com/600/200/people" alt="">
  <img src="https://placeimg.com/600/200/nature" alt="">
  <img src="https://placeimg.com/600/200/people" alt="">
  <img src="https://placeimg.com/600/200/nature" alt="">
  <img src="https://placeimg.com/600/200/people" alt="">
  <img src="https://placeimg.com/600/200/nature" alt="">
</div>

<div class="hover-slide">
  <img src="https://placeimg.com/600/200/any" alt="">
  <div class="">
    <p>Bajs</p>
  </div>
  <img src="https://placeimg.com/600/200/people" alt="">
  <img src="https://placeimg.com/600/200/nature" alt="">
  <div class="">
    <p>Bajs</p>
  </div>
</div>
